@media(min-width: 992px){
  .contact-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .contact-form {
    flex: 1;
    margin-right: 20px;
  }
  
  .contact-form h2 {
    color: #333;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 8px;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 16px;
    padding: 8px;
  }
  
  .contact-form button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .contact-info {
    flex: 1;
    padding-left: 20vw;
  }
  
  .contact-info h2 {
    color: #333;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
}
@media(min-width: 768px) and (max-width:992px) {
  .contact-container {
    font-size: 1.3em;
    justify-content: space-between;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

  .contact-form button{
    font-size: 1.2em;
  }
  
  .contact-form {
    flex: 1;
    margin-right: 20px;
  }
  
  .contact-form h2 {
    color: #333;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 8px;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 16px;
    padding: 8px;
  }
  
  .contact-form button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .contact-info {
    flex: 1;
    padding-left: 15vw;
    margin-top: 15vw;
  }
  
  .contact-info h2 {
    color: #333;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px){
  .contact-container {
    font-size: 0.8em;
    justify-content: space-between;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

  .contact-form button{
    font-size: 1.1em;
  }
  
  .contact-form {
    flex: 1;
    margin-right: 20px;
  }
  
  .contact-form h2 {
    color: #333;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 8px;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 16px;
    padding: 8px;
  }
  
  .contact-form button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .contact-info {
    flex: 1;
    padding-left: 8.5vw;
    margin-top: 15vw;
  }
  
  .contact-info h2 {
    color: #333;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
}